---
---
<!DOCTYPE html>
<html lang="en-US">
{% include post_header.html %}

<body class="page page-template-default custom-background custom-font-enabled single-author">
<div id="page" class="hfeed site">
	{% include masthead.html %}
	<div id="main" class="wrapper">
	<div id="primary" class="site-content">
		<div id="content" role="main">


			<article>
				<header class="entry-header">
					<h1 class="entry-title">About the book</h1>
				</header>

				<div class="entry-content">
					<p>We came to write the book, Atomistic Computer Simulations, as there was no textbook available which discussed how, practically, to perform atomistic simulations.  It was written with two communities in mind: first, advanced undergraduate and starting graduate students who need to learn how to perform these simulations; second, experimental scientists who want to learn the strengths and limitations of different techniques.</p>
					<p>We will post blog entries here regularly.  These will cover discussions of interesting papers from the atomistic computer simulation community as well as examples of how to perform specific tasks in a given code.  We welcome questions and suggestions for blog entries.</p>
					<p>The official Wiley website is <a title="here" href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-3527410694.html" target="_blank">here</a>.  The official description is: “This introductory ‘how to’ title enables readers to understand, plan, run, and analyze their own independent atomistic simulations, and decide which method to use and which questions to ask in their research project. It is written in a clear and precise language, focusing on a thorough understanding of the concepts behind the equations and how these are used in the simulations.<br />
						As a result, readers will learn how to design the computational model and which parameters of the simulations are essential, as well as being able to assess whether the results are correct, find and correct errors, and extract the relevant information from the results. Finally, they will know which information needs to be included in their publications.<br />
						This book includes checklists for planning projects, analyzing output files, and for troubleshooting, as well as pseudo keywords and case studies.”</p>
						<p>Veronika Brazdova and David Bowler</p>
						<h2>Authors</h2>
						<p>Dr. Veronika Brázdová obtained her PhD from Humboldt University Berlin in 2005 with Professor J. Sauer. She is currently a Postdoctoral Research Fellow at the London Centre for Nanotechnology, University College London. Her research is focused on computational simulations of solid state surfaces and interfaces, using mainly density functional theory. She has been collaborating closely with experimental groups. She is also an experienced programmer, particularly in Fortran 90 and the Message Passing Interface. She has supervised many undergraduate students taking their first steps in computational physics.</p>
						<p>Dr. David R. Bowler received his D.Phil. from Oxford University in 1997. He has been a Reader in Physics at UCL since 2005, and held a Royal Society University Research Fellowship from 2002–2010. He is a PI in the London Centre for Nanotechnology and the London–wide <a href="http://www.thomasyoungcentre.org/" target="_blank">Thomas Young Centre</a>. He has driven the development of the massively–parallel linear scaling density functional theory code, Conquest, and collaborates extensively with experimental groups on the growth and properties of nanostructures on semiconductor surfaces.  He is <a href="https://twitter.com/MillionAtomMan" target="_blank">@MillionAtomMan</a>.</p>
				</div><!-- .entry-content -->
			</article><!-- #post -->

		</div><!-- #content -->
	</div><!-- #primary -->

	{% include sidebar.html %}
</div><!-- main -->
</div><!-- #page -->
<footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65982186-2', 'auto');
  ga('send', 'pageview');

</script>
</footer>
</body>
</html>
