---
---
<!DOCTYPE html>
<html lang="en-US">
{% include post_header.html %}

<body class="page custom-background custom-font-enabled single-author">
<div id="page" class="hfeed site">
{% include masthead.html %}
<div id="main" class="wrapper">
	<div id="primary" class="site-content">
		<div id="content" role="main">



		<article id="post-2" class="post-2 page type-page status-publish hentry">
		<header class="entry-header">
			<h1 class="entry-title"></h1>
		</header>

		<div class="entry-content">
			<table>
<tbody>
<tr>
<td style="vertical-align: top;" width="160"><a href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-3527410694.html"><img alt="Book cover" src="/AtomisticSimulations/img/ACScover.jpg" width="150" /></a></td>
<td style="vertical-align: top;">
<p style="font-size: 14px;">This introductory &#8216;how to&#8217; title enables readers to understand, plan, run, and analyze their own independent atomistic simulations, and decide which method to use and which questions to ask in their research project. It is written in a clear and precise language, focusing on a thorough understanding of the concepts behind the equations and how these are used in the simulations. As a result, readers will learn how to design the computational model and which parameters of the simulations are essential, as well as being able to assess whether the results are correct, find and correct errors, and extract the relevant information from the results. Finally, they will know which information needs to be included in their publications.</p>
<p style="font-size: 14px;">This book includes checklists for planning projects, analyzing output files, and for troubleshooting, as well as pseudo keywords and case studies.</p>
<p style="font-size: 14px;">These pages will be regularly updated with blog posts about atomistic simulations; please follow the RSS feed or <a href="https://twitter.com/MillionAtomMan" target="_blank">@MillionAtomMan</a> on Twitter for notification</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
					</div><!-- .entry-content -->
		<footer class="entry-meta">
					</footer><!-- .entry-meta -->
	</article><!-- #post -->


		</div><!-- #content -->
	</div><!-- #primary -->

{% include sidebar.html %}
	<footer id="colophon" role="contentinfo">

	</footer><!-- #colophon -->
</div><!-- #page -->
</body>
</html>
