---
---
<html lang="en-US">
{% include post_header.html %}

<body class="page page-template-default custom-background custom-font-enabled single-author">
<div id="page" class="hfeed site">
	{% include masthead.html %}
	<div id="main" class="wrapper">
	<div id="primary" class="site-content">
		<div id="content" role="main">


			<article>
				<header class="entry-header">
					<h1 class="entry-title">About the book</h1>
				</header>

				<div class="entry-content">
					<p>On this page, we will give links to atomistic simulation codes with no guarantee of suitability, stability and certainly no intention to endorse any particular code over another ! These are simply for information.</p>
					<h1>DFT</h1>
					<h2>Freely available codes</h2>
					<ul>
						<li>PWSCF (part of <a href="http://www.quantum-espresso.org" target="_blank">Quantum-Espresso)</a></li>
						<li><a href="http://icmab.cat/leem/siesta/" target="_blank">Siesta</a> (linear scaling capabilities)</li>
						<li><a href="http://www.abinit.org" target="_blank">abinit</a></li>
						<li><a href="http://www.order-n.org/" target="_blank">Conquest</a> (linear scaling capabilities)</li>
					</ul>
					<h2><span style="line-height: 24px;">Paid codes</span></h2>
					<ul>
						<li><a href="http://www.vasp.at/" target="_blank"><span style="line-height: 14px;">VASP</span></a></li>
						<li><a href="http://www.castep.org" target="_blank">CASTEP</a> (free to UK academics)</li>
						<li><a href="http://www.gaussian.com" target="_blank">Gaussian</a></li>
					</ul>
				</div><!-- .entry-content -->
			</article><!-- #post -->

		</div><!-- #content -->
	</div><!-- #primary -->

	{% include sidebar.html %}
</div><!-- main -->
</div><!-- #page -->

</body>
</html>
